body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blueviolet;
}

.container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: start;
    width: 575px;
    height: 400px;
    background-color: blueviolet;
    margin-top: 0px;
    border: 2px solid white;
    border-radius: 10px;

}

h3{
    font-size: 40px;
    color:eee;
    text-align: center;
}
.score-text{

    font-family: 'Cursed Timer ULiL', sans-serif;
                                                
}
.score{
    width: 155px;
    height: 120px;
    margin: 0 auto;
    background-color: #080001;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 45px;
    color: #f94f6d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lakers{
    display: flex;

    background-image: url("lakers.png");
    background-color: blueviolet;
    background-repeat: no-repeat;
    height: 150px;
    background-size:30%;
    margin: 50 auto;
    background-position: center;
    
}


.button-row{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.button{
   /* display:flex; */
   /* justify-content: space-evenly; */
   width:45px;
   height: 45px;
   border-radius: 5px; 
   font-size:18px;
   background-color: goldenrod;
   border: 2px solid white;
   color:blueviolet;
    margin-top: 30px;
   margin-left: 5px;
   font-family: 'Cursed Timer ULiL', sans-serif;

}
.button:hover{
    color:whitesmoke;
    background-color: gray
}

#logo{
    display:flex;
    width: 200px;
    margin: 100px auto;
    

}